@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: inline-flex;
  animation: scroll 20s linear infinite;
}

@keyframes gradient-x {
  0%, 100% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
}


html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}


.hide-scrollbar::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

/* For Firefox */
.hide-scrollbar {
    scrollbar-width: none;
}